/* variables */
:root {
    --main-color:#10cab7;
}

/* global styles START */
*{
    box-sizing: border-box;
}
body{
    font-family: work sans, sans-serif;
}
.container{
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* global styles END */
/* components */
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -6px;
    margin: 0;
}
.special-heading + p {
    text-align: center;
    margin: -35px 0 0;
    font-size: 20px;
    color: #666;
}
@media (max-width: 768px) {
    .special-heading {
        font-size: 60px;
        letter-spacing: -3px;
    }
    .special-heading + p {
        margin-top: -20px;
        font-size: 16px;
    }
}

/* Header styles START */
.header{
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 15px;
    background-color: #f6f6f6;
}
.header .container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container-header .logo {
    display: block;
    transform-origin: center;
    transition: 0.3s;
    width: 80px;
}
.header .container-header .logo:hover {
    filter: drop-shadow(0 0 2px rgba(108, 192, 180, 0.5));
    cursor: pointer;
    transform: scale(1.1);
}
.header .container-header .links {
    position: relative;
}
.header .container-header .links .icon {
    width:30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    transition: 0.3s;
}
.header .container-header .links .icon span {
    background-color: black;
    margin-bottom: 5px;
    height: 3px;
}
.header .container-header .links .icon span:first-child {
    height: 3px;
    width: 100%;
}
.header .container-header .links .icon span:nth-child(2) {
    height: 3px;
    width: 50%;
    transition: 0.3s;
}
.header .container-header .links .icon span:last-child {
    height: 3px;
    width: 100%;
}
.header .container-header .links .icon:hover span:nth-child(2) {
    width: 100%;
}
.header .container-header .links .icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.header .container-header .links ul{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    list-style: none;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    margin: 0;
    background-color: #f6f6f6;
    padding: 0px;
    min-width: 200px;
    border-radius: 5px;
}
.header .container-header .links ul li::before{
    content: "";
    border-width: 10px;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 5px;
    top: -18px
}
.header .container-header .links:hover ul {
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
}
.header .links ul a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.header .links ul a:hover{
    padding-left: 25px;
}
.header .links ul a:hover {
    color: #6cc0b4;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 0.6px solid #ddd;
    border-radius: 2px;
}
/* Header styles END */

/* Landing Section Styles START */
.landing{
    background-image: url(../assets/yasmin-peyman-v20xUKKXylY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 62px );
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.intro-text {
    width: 500px;
    max-width: 100%;
    text-align: center;
    padding: 100px 20px;
}
.intro-text h1 {
    letter-spacing: 2px;
    margin: 0;
    font-size: 48px;
    color: var(--main-color);
    font-weight: 800;
}
.intro-text p {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
    color:var(--main-color);
    padding: 10px;
}
.intro-text .btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: var(--main-color);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid transparent;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out, border 0.3s ease-in-out;
}
.intro-text .btn:hover {
    background-color: #ffffff00;
    color: var(--main-color);
    transform: scale(1.1);
    border: 1px solid var(--main-color);
}
/* landing section styles END */

/* features section styles START */
.features{
    margin-top: 20px;
    padding: 50px 20px;
    background-color: #f6f6f6;
}
.features .container-features{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;

}
.features .feat{
    padding: 20px;
    text-align: center;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 0;
}
.features .feat i {
    font-size: 40px;
    color: #333;
    margin-bottom: 10px;
}
.features .feat h3 {
    transform: uppercase;
    margin: 10px 0;
    font-size: 24px;
    color: #333;
}
.features .feat p {
    font-size: 16px;
    color: #666;
}
i{
    transition: color 0.3s ease;
}
.features .feat:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px  rgba(16, 202, 183, 0.5);
    h3 , i {
        color: var(--main-color)
    }
}
/* features section styles END */
.services .service-content{
    padding: 50px 20px;
}
.services .container-services .service-content{
    margin-top: 20px;
    margin-bottom: 20px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    background-color: #f6f6f6;
    text-align: start;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 0;
}
.services .container-services .service-content .service {
    padding: 20px;
    text-align: start;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 0;
}
.services .container-services .service-content .service .icon {
    font-size: 40px;
    color: #333;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}
.services .container-services .service-content .service:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px  rgba(16, 202, 183, 0.5);
    h2 , i {
        color: var(--main-color)
    }
}
/* services section styles START */



